/*  aligns body content[s] at the center*/
body{
    background-color: whitesmoke; 
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    
}

/*body content: places it at the center of the body; aligns body content[s] at the center,and makes all content divs share same size*/
#container{
    margin-top: 9%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
}

h1,h2, p{
    color: whitesmoke;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

h2{
    text-transform: capitalize;
    text-align: center;
}


/*div container for all jokes buttons*/
#jokes-container{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    justify-content: space-around;
      
}

/*All buttons that share smae class name*/
.buttons{
    height: 60px;
    width: 130px;
    font-size: 20px;
    background-color: #01ed6b;
    border: 0px;
    padding: 4px;
    color: #fff;
    margin: 5px;
}

div{
    margin: 10px 0px;
}

div p{
    color: black;
}